body{
    display : flex;
   overflow-wrap: break-word;
    background-image: url("narutobg.png.webp"); ;
    background-color: orange;
}
.info{
    display: block;
    width: 70%;
    margin: 0 auto;
    padding: 60px
    
}
.infosubtitle{
    padding-right: 10px;
    border-right: 1px solid black;
    
}


#about{
 inline-size: 900px;
 
 
}
#navbar{
    display: block;
   border: 1px solid black;
   width:fit-content;
   margin-right: 20px;
   
   
  
}

ol {
    counter-reset: item;
    margin-right: 20px;
}
ol > li {
    counter-increment: item;
    
}

ol ol > li {
    display: block;
   
}

ol ol > li:before {
    content: counters(item, ".") ". ";
    margin-left: -20px;
    
}
li{
   
}

li > a{
    color: black;
    text-decoration-line: none;
    
}
