body{
    display : flex;
   overflow-wrap: break-word;
    background-image: url("narutobg.png.webp"); ;
    
}
.info{
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    max-width: fit-content;
    background-color: aliceblue;
    
}
#mc-name{
    margin-left: -1%;
    
}
#article{
    margin-left: 10%;
    font-style: italic;
    width: fit-content;
}
.info-card{
    display: block;
   border: 1px solid black;
   width: 100px;
   margin-right: 20px;
   
}
#character-name{
    display:inline-block;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid black;
    width: 100%;
    
}
#pfp{
    display: block;
    width: 20%;
    align-items: center;

   
 
}
.info *{
    margin-left: 5%;
    width: 100%;
}
#about{
 inline-size: 400px;
 
 
}
#navbar{
   border: 1px solid black;
   width:fit-content;
   margin-right: 20px;
   word-wrap: break-word;
   
  
}

ol {
    counter-reset: item;
    margin-right: 20px;
}
ol > li {
    counter-increment: item;
    
}

ol ol > li {
    display: block;
    overflow-wrap: break-word;
}

ol ol > li:before {
    content: counters(item, ".") ". ";
    margin-left: -20px;
    
}
li{
    overflow-wrap: break-word;
}

li > a{
    color: black;
    text-decoration-line: none;
    
}
